### Step 1: Creating the database for Geoinformatic in Society Project

In [27]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from getpass import getpass
from sqlalchemy import create_engine

# Database server connection details
host = "localhost"
user = "postgres"
password = getpass("Enter your password: ")

# Database name to be created
database_name = "geoinformaticinsociety"

try:
    # Connect to the PostgreSQL server
    conn = psycopg2.connect(
        dbname="postgres",  # Default database to connect to
        user=user,
        password=password,
        host=host
    )
    conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)  # Allow database creation
    cursor = conn.cursor()

    # Create the database
    cursor.execute(f"CREATE DATABASE {database_name}")
    print(f"Database '{database_name}' created successfully.")

    # Connect to the newly created database to enable PostGIS
    conn.close()
    conn = psycopg2.connect(
        dbname=database_name,
        user=user,
        password=password,
        host=host
    )
    conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    cursor = conn.cursor()

    # Enable PostGIS extension
    cursor.execute("CREATE EXTENSION IF NOT EXISTS postgis")
    print("PostGIS extension enabled successfully.")

except psycopg2.Error as e:
    print(f"An error occurred: {e}")
finally:
    # Clean up
    if conn:
        cursor.close()
        conn.close()

Enter your password:  ········

Database 'geoinformaticinsociety' created successfully.
PostGIS extension enabled successfully.

If you have already created the database, you can provide automatic connection by changing your host and database name in the code below.

In [29]:
from getpass import getpass
from urllib.parse import quote_plus  # URL-encoding

# These info is to access my database. In your case at least the password is different.
host = "localhost"
database = "geoinformaticinsociety"
user = "postgres"
password = getpass("Enter your password: ")

# URL-encode the password to ensure special characters are handled correctly
encoded_password = quote_plus(password)

connection_string = f"postgresql://{user}:{encoded_password}@{host}/{database}"

from sqlalchemy import create_engine

engine = create_engine(connection_string)

from sqlalchemy import inspect

# If you want to use %sql magic in Jupyter
%reload_ext sql
%sql $connection_string
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

# Create a connection to use with psycopg2
conn = psycopg2.connect(connection_string)

# Create a cursor to execute SQL queries
cursor = conn.cursor()

Enter your password:  ········

### First you have to upload all the file into geodatabase, for this step just change the data_folder and run the cell.

In [31]:
import os
import pandas as pd
import geopandas as gpd

# Folder containing your shapefiles
shp_folder = r"C:\Users\LENOVO\Desktop\Master\Winter-2024-2025\GeoinformationInSociety\data"

# Process Shapefiles
for file in os.listdir(shp_folder):
    file_path = os.path.join(shp_folder, file)
    if file.endswith(".shp"):
        try:
            gdf = gpd.read_file(file_path)
            table_name = os.path.splitext(file)[0].lower()
            
            # Upload to PostGIS
            with engine.connect() as conn:
                conn.execution_options(isolation_level="AUTOCOMMIT")
                gdf.to_postgis(table_name, conn, if_exists="replace")
            print(f"Uploaded Shapefile: {file} to table: {table_name}")
        except Exception as e:
            print(f"Failed to upload Shapefile: {file} - {e}")
            engine.dispose()
            engine = create_engine(connection_string)

print("Shapefile upload process completed!")

Uploaded Shapefile: attraction_sites.shp to table: attraction_sites
Uploaded Shapefile: bakeries.shp to table: bakeries
Uploaded Shapefile: bicycle_shops.shp to table: bicycle_shops
Uploaded Shapefile: bus_stops.shp to table: bus_stops
Uploaded Shapefile: cafes.shp to table: cafes
Uploaded Shapefile: children_playground.shp to table: children_playground
Uploaded Shapefile: commercials.shp to table: commercials
Uploaded Shapefile: cycleways.shp to table: cycleways
Uploaded Shapefile: fast_foods.shp to table: fast_foods
Uploaded Shapefile: gov_offices.shp to table: gov_offices
Uploaded Shapefile: green_spaces.shp to table: green_spaces
Uploaded Shapefile: hotels.shp to table: hotels
Uploaded Shapefile: houses.shp to table: houses
Uploaded Shapefile: munster_area.shp to table: munster_area
Uploaded Shapefile: munster_districts.shp to table: munster_districts
Uploaded Shapefile: parkings.shp to table: parkings
Uploaded Shapefile: parks.shp to table: parks
Uploaded Shapefile: poi.shp to table: poi
Uploaded Shapefile: restaurants.shp to table: restaurants
Uploaded Shapefile: road.shp to table: road
Uploaded Shapefile: schools.shp to table: schools
Uploaded Shapefile: sport_facilities.shp to table: sport_facilities
Uploaded Shapefile: supermarkets.shp to table: supermarkets
Uploaded Shapefile: vending_parkings.shp to table: vending_parkings
Uploaded Shapefile: waters.shp to table: waters
Shapefile upload process completed!

POI data is a new data, I identified the available ones and added them to the database.

In [48]:
%%sql
SELECT DISTINCT fclass
FROM poi;

 * postgresql://postgres:***@localhost/geoinformaticinsociety
   postgresql://postgres:***@localhost/investor_advisor
111 rows affected.

[('caravan_site',),
 ('beverages',),
 ('water_well',),
 ('toy_shop',),
 ('park',),
 ('artwork',),
 ('vending_machine',),
 ('tower',),
 ('sports_centre',),
 ('jeweller',),
 ('museum',),
 ('arts_centre',),
 ('drinking_water',),
 ('zoo',),
 ('chalet',),
 ('laundry',),
 ('newsagent',),
 ('supermarket',),
 ('hairdresser',),
 ('clinic',),
 ('gift_shop',),
 ('veterinary',),
 ('department_store',),
 ('butcher',),
 ('camera_surveillance',),
 ('recycling_glass',),
 ('shoe_shop',),
 ('greengrocer',),
 ('recycling_clothes',),
 ('car_dealership',),
 ('sports_shop',),
 ('chemist',),
 ('hostel',),
 ('kiosk',),
 ('fast_food',),
 ('garden_centre',),
 ('vending_cigarette',),
 ('dentist',),
 ('comms_tower',),
 ('school',),
 ('bicycle_shop',),
 ('guesthouse',),
 ('picnic_site',),
 ('car_wash',),
 ('mobile_phone_shop',),
 ('water_mill',),
 ('library',),
 ('cinema',),
 ('recycling',),
 ('courthouse',),
 ('nightclub',),
 ('playground',),
 ('pharmacy',),
 ('university',),
 ('hunting_stand',),
 ('telephone',),
 ('dog_park',),
 ('fountain',),
 ('market_place',),
 ('stationery',),
 ('theatre',),
 ('pitch',),
 ('police',),
 ('biergarten',),
 ('restaurant',),
 ('kindergarten',),
 ('outdoor_shop',),
 ('bar',),
 ('travel_agent',),
 ('doityourself',),
 ('shelter',),
 ('wayside_shrine',),
 ('vending_any',),
 ('toilet',),
 ('wayside_cross',),
 ('hotel',),
 ('cafe',),
 ('car_rental',),
 ('computer_shop',),
 ('vending_parking',),
 ('viewpoint',),
 ('bicycle_rental',),
 ('community_centre',),
 ('beauty_shop',),
 ('ruins',),
 ('florist',),
 ('memorial',),
 ('waste_basket',),
 ('doctors',),
 ('pub',),
 ('post_box',),
 ('swimming_pool',),
 ('tourist_info',),
 ('furniture_shop',),
 ('atm',),
 ('convenience',),
 ('bench',),
 ('clothes',),
 ('college',),
 ('bakery',),
 ('recycling_paper',),
 ('optician',),
 ('water_works',),
 ('bookshop',),
 ('bank',),
 ('car_sharing',),
 ('post_office',),
 ('embassy',),
 ('fire_station',),
 ('attraction',),
 ('nursing_home',)]

In [51]:
%%sql
CREATE TABLE museum AS
SELECT * FROM poi WHERE fclass = 'museum';

CREATE TABLE arts_centre AS
SELECT * FROM poi WHERE fclass = 'arts_centre';

CREATE TABLE zoo AS
SELECT * FROM poi WHERE fclass = 'zoo';

CREATE TABLE cinema AS
SELECT * FROM poi WHERE fclass = 'cinema';

CREATE TABLE university AS
SELECT * FROM poi WHERE fclass = 'university';

CREATE TABLE beauty_shop AS
SELECT * FROM poi WHERE fclass = 'beauty_shop';

CREATE TABLE bookshop AS
SELECT * FROM poi WHERE fclass = 'bookshop';

 * postgresql://postgres:***@localhost/geoinformaticinsociety
   postgresql://postgres:***@localhost/investor_advisor
9 rows affected.
2 rows affected.
1 rows affected.
3 rows affected.
32 rows affected.
31 rows affected.
17 rows affected.

[]

In this part, I tried to see what the data types are and their coordinate system so that I can verify and adjust them if needed.

In [53]:
import psycopg2

# Query to get the SRID and geometry type of all spatial columns in the database
query = """
SELECT f_table_name, f_geometry_column, srid, type
FROM geometry_columns
WHERE f_table_name IN (SELECT table_name FROM information_schema.tables WHERE table_schema = 'public');
"""

# Execute the query
cursor.execute(query)
results = cursor.fetchall()

# Print out the results
for result in results:
    print(f"Table: {result[0]}, Geometry Column: {result[1]}, SRID: {result[2]}, Geometry Type: {result[3]}")

Table: attraction_sites, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: bakeries, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: bicycle_shops, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: bus_stops, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: cafes, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: children_playground, Geometry Column: geometry, SRID: 31467, Geometry Type: POINT
Table: commercials, Geometry Column: geometry, SRID: 4326, Geometry Type: GEOMETRY
Table: cycleways, Geometry Column: geometry, SRID: 4326, Geometry Type: LINESTRING
Table: fast_foods, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: gov_offices, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: green_spaces, Geometry Column: geometry, SRID: 25832, Geometry Type: GEOMETRY
Table: hotels, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: houses, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: munster_area, Geometry Column: geometry, SRID: 4326, Geometry Type: POLYGON
Table: munster_districts, Geometry Column: geometry, SRID: 25832, Geometry Type: POLYGON
Table: parkings, Geometry Column: geometry, SRID: 4326, Geometry Type: POLYGON
Table: parks, Geometry Column: geometry, SRID: 4326, Geometry Type: POLYGON
Table: poi, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: restaurants, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: road, Geometry Column: geometry, SRID: 25832, Geometry Type: GEOMETRY
Table: schools, Geometry Column: geometry, SRID: 31467, Geometry Type: POINT
Table: sport_facilities, Geometry Column: geometry, SRID: 31467, Geometry Type: POINT
Table: supermarkets, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: vending_parkings, Geometry Column: geometry, SRID: 4326, Geometry Type: POINT
Table: waters, Geometry Column: geometry, SRID: 4326, Geometry Type: POLYGON
Table: museum, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: arts_centre, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: zoo, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: cinema, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: university, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: beauty_shop, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT
Table: bookshop, Geometry Column: geometry, SRID: 25832, Geometry Type: POINT

In [55]:
# Get list of tables with geometry columns
cursor.execute("""
    SELECT table_name
    FROM information_schema.columns
    WHERE table_schema = 'public' AND column_name = 'geometry'
""")
tables_with_geometry = [row[0] for row in cursor.fetchall()]

# Loop through the tables and process geometries
for table in tables_with_geometry:
    # Load the table into a GeoDataFrame
    query = f"SELECT * FROM {table}"
    gdf = gpd.read_postgis(query, engine, geom_col='geometry')
    
    # Check the current CRS (SRID) of the table
    current_crs = gdf.crs
    
    # If the table is not in the correct CRS (3857), transform it
    if current_crs != "EPSG:3857":
        gdf = gdf.to_crs("EPSG:3857")
        print(f"Transformed {table} to EPSG:3857")
    
    # Save the transformed GeoDataFrame to a new table
    new_table_name = f"{table}_3857"
    gdf.to_postgis(new_table_name, engine, if_exists='replace')
    print(f"Table {new_table_name} created with CRS EPSG:3857")

Transformed university to EPSG:3857
Table university_3857 created with CRS EPSG:3857
Transformed beauty_shop to EPSG:3857
Table beauty_shop_3857 created with CRS EPSG:3857
Transformed museum to EPSG:3857
Table museum_3857 created with CRS EPSG:3857
Transformed arts_centre to EPSG:3857
Table arts_centre_3857 created with CRS EPSG:3857
Transformed zoo to EPSG:3857
Table zoo_3857 created with CRS EPSG:3857
Transformed cinema to EPSG:3857
Table cinema_3857 created with CRS EPSG:3857
Transformed bookshop to EPSG:3857
Table bookshop_3857 created with CRS EPSG:3857
Transformed attraction_sites to EPSG:3857
Table attraction_sites_3857 created with CRS EPSG:3857
Transformed bakeries to EPSG:3857
Table bakeries_3857 created with CRS EPSG:3857
Transformed bicycle_shops to EPSG:3857
Table bicycle_shops_3857 created with CRS EPSG:3857
Transformed bus_stops to EPSG:3857
Table bus_stops_3857 created with CRS EPSG:3857
Transformed cafes to EPSG:3857
Table cafes_3857 created with CRS EPSG:3857
Transformed children_playground to EPSG:3857
Table children_playground_3857 created with CRS EPSG:3857
Transformed commercials to EPSG:3857
Table commercials_3857 created with CRS EPSG:3857
Transformed cycleways to EPSG:3857
Table cycleways_3857 created with CRS EPSG:3857
Transformed fast_foods to EPSG:3857
Table fast_foods_3857 created with CRS EPSG:3857
Transformed gov_offices to EPSG:3857
Table gov_offices_3857 created with CRS EPSG:3857
Transformed green_spaces to EPSG:3857
Table green_spaces_3857 created with CRS EPSG:3857
Transformed hotels to EPSG:3857
Table hotels_3857 created with CRS EPSG:3857
Transformed houses to EPSG:3857
Table houses_3857 created with CRS EPSG:3857
Transformed munster_area to EPSG:3857
Table munster_area_3857 created with CRS EPSG:3857
Transformed munster_districts to EPSG:3857
Table munster_districts_3857 created with CRS EPSG:3857
Transformed parkings to EPSG:3857
Table parkings_3857 created with CRS EPSG:3857
Transformed parks to EPSG:3857
Table parks_3857 created with CRS EPSG:3857
Transformed poi to EPSG:3857
Table poi_3857 created with CRS EPSG:3857
Transformed restaurants to EPSG:3857
Table restaurants_3857 created with CRS EPSG:3857
Transformed road to EPSG:3857
Table road_3857 created with CRS EPSG:3857
Transformed schools to EPSG:3857
Table schools_3857 created with CRS EPSG:3857
Transformed sport_facilities to EPSG:3857
Table sport_facilities_3857 created with CRS EPSG:3857
Transformed supermarkets to EPSG:3857
Table supermarkets_3857 created with CRS EPSG:3857
Transformed vending_parkings to EPSG:3857
Table vending_parkings_3857 created with CRS EPSG:3857
Transformed waters to EPSG:3857
Table waters_3857 created with CRS EPSG:3857

In this part, SQL code is designed to dynamically calculate and update a score for each row in the munster_districts_3857 table based on the intersections of POINT geometries from other tables. The result is stored in a new column created for each table, named <table_name>_score.

In [102]:
%%sql
DO $$
DECLARE
    geom_table_name text;
    nametable text;
BEGIN
    FOR geom_table_name IN 
        SELECT f_table_name
        FROM geometry_columns
        WHERE f_geometry_column = 'geometry'
          AND type = 'POINT'
          AND srid = 3857
    LOOP
        -- Define the column name for the score
        nametable := geom_table_name || '_score';
        
        -- Step 2: Add the column if it doesn't exist
        IF NOT EXISTS (
            SELECT 1
            FROM information_schema.columns
            WHERE table_schema = 'public'  -- Adjust schema if needed
              AND table_name = 'munster_districts_3857'
              AND column_name = nametable 
        ) THEN
            EXECUTE format('ALTER TABLE public.munster_districts_3857 ADD COLUMN "%s" numeric;', nametable);
        END IF;
        
        -- Step 3: Calculate and update the score
        EXECUTE format(
            'WITH total_count AS (
                SELECT COUNT(*) AS total FROM %I
            ),
            intersection_data AS (
                SELECT 
                    COALESCE(COUNT(point.*), 0) AS point_count,
                    ROUND(COALESCE(COUNT(point.*), 0) * 1.0 / total_count.total, 6) AS score,
                    m.gem_flur
                FROM 
                    munster_districts_3857 AS m
                LEFT JOIN 
                    %I AS point
                    ON ST_Intersects(m.geometry, point.geometry)  -- Only count if they intersect
                CROSS JOIN 
                    total_count
                GROUP BY 
                    m.gem_flur, total_count.total
            )
            UPDATE munster_districts_3857
            SET "%s" = intersection_data.score
            FROM intersection_data
            WHERE munster_districts_3857.gem_flur = intersection_data.gem_flur;',
            geom_table_name, geom_table_name, nametable
        );
    END LOOP;
END $$;

 * postgresql://postgres:***@localhost/geoinformaticsociety
Done.

[]

In [114]:
%%sql
DO $$
DECLARE
    geom_table_name text;
    nametable text;
BEGIN
    -- Loop through geometry columns for LineString type with SRID 3857
    FOR geom_table_name IN 
        SELECT f_table_name
        FROM geometry_columns
        WHERE f_geometry_column = 'geometry'
          AND type = 'LINESTRING'
          AND srid = 3857
    LOOP
        -- Define the column name for the score
        nametable := geom_table_name || '_score';
        
        -- Check if the column exists; add if it doesn't
        IF NOT EXISTS (
            SELECT 1
            FROM information_schema.columns
            WHERE table_schema = 'public'
              AND table_name = 'munster_districts_3857'
              AND column_name = nametable
        ) THEN
            EXECUTE format('ALTER TABLE public.munster_districts_3857 ADD COLUMN %I numeric;', nametable);
        END IF;
        
        -- Calculate and update the score
        EXECUTE format(
            'WITH total_length AS (
                SELECT SUM(ST_Length(geometry)) AS total_length FROM %I
            ),
            score AS (
                SELECT 
                    COALESCE(SUM(ST_Length(ST_Intersection(m.geometry, line.geometry))) * 1.0 / total_length.total_length, 0) AS score,
                    m.gem_flur
                FROM 
                    munster_districts_3857 AS m
                LEFT JOIN 
                    %I AS line
                    ON ST_Intersects(m.geometry, line.geometry)
                CROSS JOIN 
                    total_length
                GROUP BY 
                    m.gem_flur, total_length.total_length
            ),
            score_data AS (
                SELECT
                    Round(score::numeric,6) AS score,
                    gem_flur
                FROM score
            )
            UPDATE munster_districts_3857
            SET %I = score_data.score
            FROM score_data
            WHERE munster_districts_3857.gem_flur = score_data.gem_flur;',
            geom_table_name, geom_table_name, nametable
        );
    END LOOP;
END $$;

 * postgresql://postgres:***@localhost/geoinformaticsociety
Done.

[]

In [116]:
%%sql
DO $$
DECLARE
    geom_table_name text;
    nametable text;
BEGIN
    -- Loop through geometry columns for Polygon type with SRID 3857
    FOR geom_table_name IN 
        SELECT f_table_name
        FROM geometry_columns
        WHERE f_geometry_column = 'geometry'
          AND type = 'POLYGON'
          AND srid = 3857
          AND f_table_name != 'munster_districts_3857'
    LOOP
        -- Define the column name for the score
        nametable := geom_table_name || '_score';
        
        -- Check if the column exists; add if it doesn't
        IF NOT EXISTS (
            SELECT 1
            FROM information_schema.columns
            WHERE table_schema = 'public'
              AND table_name = 'munster_districts_3857'
              AND column_name = nametable
        ) THEN
            EXECUTE format('ALTER TABLE public.munster_districts_3857 ADD COLUMN %I numeric;', nametable);
        END IF;
        
        -- Calculate and update the score
        EXECUTE format(
            'WITH total_area AS (
                SELECT SUM(ST_Area(geometry)) AS total_area FROM %I
            ),
            score AS (
                SELECT 
                    COALESCE(SUM(ST_Area(ST_Intersection(m.geometry, poly.geometry))) * 1.0 / total_area.total_area, 0) AS score,
                    m.gem_flur
                FROM 
                    munster_districts_3857 AS m
                LEFT JOIN 
                    %I AS poly
                    ON ST_Intersects(m.geometry, poly.geometry)
                CROSS JOIN 
                    total_area
                GROUP BY 
                    m.gem_flur, total_area.total_area
            ),
            score_data AS (
                SELECT
                    Round(score::numeric,6) AS score,
                    gem_flur
                FROM score
            )
            UPDATE munster_districts_3857
            SET %I = score_data.score
            FROM score_data
            WHERE munster_districts_3857.gem_flur = score_data.gem_flur;',
            geom_table_name, geom_table_name, nametable
        );
    END LOOP;
END $$;

 * postgresql://postgres:***@localhost/geoinformaticsociety
Done.

[]